@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nova+Cut&family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nova+Cut&family=Nova+Oval&family=Nova+Sxxuare&display=swap');

:root{
    --color1: #303031;
    --color2: #66645E;
    --color3: #71A894;
    --color4: #F3F0EA;
    --color5: #FFFFFF;
    --color6: #F5C64F;
    --color7: #71A894;
    --color8: #807E76;
    --color9 : #81BFA8;
    --color10: #F9F9F9;    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color10);
}

.container{
    background-color: var(--color10);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 97px;
    background-color: var(--color10);
    height: 12vh;
    padding-top: 10px;
    border-bottom:  2px solid var(--color1);
   position: relative;
}
.navbar-brand{
    display: flex;
}
.navbar-brand img{
    width: 68px;
    height: 40px;
}
.navbar-brand h2{
    color: var(--color1);
    font-family: "Nova Cut";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.28px;
    margin-left: 10px;
}

.navlist #last{
    color: var(--color3);
}

.navlist a{
    color: var(--Black, #303031);
font-family: "Nova Oval";
font-size: 20px;
font-weight: 500;
letter-spacing: 0.4px;
margin-left: 10px;
}

.land{
    display: flex;
    width: 100%;
height: 569px;
flex-shrink: 0;
background-color: var(--color10);
}

.land-text h2{
    width: 608px;
    color: var(--color1);
font-family: "Agbalumo";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 80px; /* 125% */
margin-left: 50px;
margin-top: 70px;
}
.land-text p{
    width: 608px;
    color: var(--color1);
    font-family: "Nova Oval" ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    margin-left: 50px;
    margin-top: 30px;
}
.requestbtn{
    border-radius: 8px;
background: #71A894;
display: inline-flex;
padding: 20px 24px;
align-items: center;
border: none;
margin-left: 50px;
margin-top: 30px;
color: var(--color10);
font-family:  "Nova Cut";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
transition: 0.9s;
}
.land-img img{
    width: 72%;
    margin-right: 4rem; 
    margin-top: 3rem; 
    background: transparent;
}
.land-img{
    height: 100vh;
    flex-shrink: 0;
    background: url("/assets/Vector.svg"), transparent 50% / cover no-repeat;
}
.section{
    background-color: var(--color10);
    height: 100vh;
    text-align: center;
    justify-content: center;
}
.section-title{
    align-items: center;
    justify-content: center;
    width: 895px;
    margin-left: 13rem;
    margin-top: 2rem;
}
.section-title h3{
    color: var(--color1);
    text-align: center;
    font-family: "Agbalumo";
    text-align: center;
    align-items: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 133.333% */
    width: 895px;
    margin-bottom: 24px;
    justify-content: center;
}
.section-title p{
    color: var(--color1);
    text-align: center;
    font-family: "Nova Cut";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
    width: 895px;
    margin-bottom: 4rem;
}

.section-card{
    display: flex;
}
.card{
    padding: 3rem 1.5rem;
    width: 427px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--color5);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    margin-left: 12px;
    transition: 0.9s;
}
.card-title{
    background-color: transparent;
}
.card-title h4{
    color: var(--color1);
    text-align: center;
    font-family:  Nova Cut;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.card-title p{
    color: var(--color1);
text-align: center;
font-family:  "Nova Square";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
width: 379px;
padding: 0.9rem 1.1rem;
}


.feature{
    background-color: var(--color10);
    display: flex;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.feature-info{
    margin: 1rem;
}

.feature-info img{
    width: 80px;
    height: 80px;
    margin-left: 50px;
}
.feature-info h3{
    color: var(--color1);
font-family: "Agbalumo";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 133.333% */
width: 644px;
margin-left: 50px;
margin-bottom: 0.9rem;
}
.feature-info p{
    color: var(--color1);
font-family: "Nova Square";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
width: 644px;
margin-left: 50px;
margin-bottom: 1.9rem;
}


.feature-message{
    width: 384px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 4px solid var(--color1);
    background: transparent;
    box-shadow:   24px 14px var(--color3);
    
}
.feature-message h5{
    color: var(--color1);
    font-family: "Nova Sqquare";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.64px;
    padding: 0.9rem 1.1rem;
    text-align: left;
    transition: 0.5s;
}
.feature-message img{
    border-radius: 50%;
    width: 48px;
    height: 54px;
    flex-shrink: 0;
}
.feature-message p{
    color: var(--color2);
    font-family: 'Nova Square';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.32px;
}
.ind-msg{
    display: flex;
    margin-left: 1.5rem;
    margin-top: 2rem;
    transition: 0.5s;
    font-family: 'Nova Square';
}

.ind-msg h6{
    margin-left: 1rem;
    color: var(--Black, #303031);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 108.333% */
    letter-spacing: -0.48px;
}
.ind-msg p{
    color: var(--Gray, #66645E);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.32px;
    margin-left: -5rem;
    margin-top: 1.4rem;
}
.ind-msg h6 p{
    display: inline-flex;
}
.feature-user{
    box-shadow: none;
    margin-left: 2rem;
}

.feat{
    margin-top: 7rem;
}

.investor{
    display: inline-flex;
    margin-top: 1rem;
    align-items: left;
    text-align: left;
    margin-left: -1rem;
}
.investor img{
    border-radius: 50%;
    flex-shrink: 0;
    width: 48px;
    height: 54px;
    margin-left: -2rem;
    margin-top: 1rem;
}
.inv-text{
    display: inline;
}
.inv-text h5{
    color: var(--color1);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}
.inv-text p{
    color: var(--color2);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-top: -0.9rem;
    margin-left: 1rem;
    }
.inv-msg {
    width: 304px;
    text-align: center;
    justify-content: center;
    color: var(--Black, #303031);
    font-family: Novel Mono Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin: 1rem;
}

.commit{
    display: flex;
    margin-top: -1rem;
    padding: 0.4rem;
    justify-content: center;
    font-family: 'Nova Cut';
}
.commit1{
    
}
.commit1 h5{
    color: var(--color2);
    font-family: Novel Mono Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    font-family: 'Nova Cut';
}
.commit p{
    color: var(--color1);
    font-family: Novel Mono Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    font-family: 'Nova Square';
}
.go-vote{
    display: flex;
    width: 204px;
    padding: 12px 24px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border-radius: 16px;
    border: none;
    background: var(--color1);
    color: var(--color10);
    margin-left: 5rem;
    font-family: 'Agbalumo';
}
.icon2 img{
    margin-left: -8rem;
}

.task{
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 4px solid var(--color1);
    background: var(--color10);
    height: 10rem;
    width: 99rem;
    padding: rem;
    margin-bottom: 4rem;
}
.tasks{
    display: inline;
}
.share-btn{
    padding: 0.5rem 0.7rem;
    background-color: var(--color3);
    border-radius: 12%;
    border: none;
    margin-left: 4rem;
    place-items: right;
}
.application{
    display: flex;
    width: 481px;
    padding: 32px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 4px solid var(--color1);
    background: var(--color4);
    margin-top: 10.9rem;
    margin-left: -24rem;
    padding: 2rem;
}
.application h3{
    font-family: 'Nova Square';
}
.cover{
    background-color: transparent;
    display: inline-block;
}
.cover img{
    border-radius: 50%;
}
.profile{
    width: 180px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 4px solid var(--color3);
    background: var(--color10);
    margin-top: 12rem;
    margin-right: 4rem;
    margin-left: 3rem;
}

.faq-section{
    margin-top: 4rem;
    justify-content: center;
}
.faq-section h2{
    text-align: center;
    justify-content: center;
    color: var(--color1);
    text-align: center;
    font-family: 'Agbalumo';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 133.333% */
}

.faq-section p{
    color: var(--Black, #303031);
    text-align: center;
    font-family: 'Nova Oval';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
    width: 895px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 13rem;
}

.faq{
    display: flex;

}

.faq1{
    width: 327px;
height: 240px;
flex-shrink: 0;
border-radius: 16px;
background: var(--color10);
/* Card Shadow */
box-shadow: 0px 2px 4px 0px var(--color1);
margin: 2rem;
}
.faq1 h4 p {
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
}

.view{
    display: inline;
    display: inline-flex;
padding: 20px 24px;
flex-direction: column;
align-items: center;
border-radius: 8px;
background: var(--color1);
color: var(--color10);
text-align: center;
font-family: Proxima Nova;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
}


@media  screen and (min-width: 767px) {
    .navbar{
        position: fixed;
        /* top: 0;
        right: -100%;
        width: 30vw;
        min-width: 450px;
        font-size: 2rem;
        border-bottom: none; */
    }
}
